.presentation-list {
  width: 60%;
  min-height: 510px;
  background-color: rgb(255, 255, 255);
	margin:auto;
}

.presentation-list-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.presentation-itemlist {
  padding: 5px;
  width: 100%;
}